body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  border-radius: 3px;
  padding: .5rem;
  margin-bottom: .7rem;
  margin-right: .5rem;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form legend {
  text-align: center;
  margin: 1rem 0;
}

form div {
  margin: 1em;
}

form input {
  border-radius: 3px;
  padding: .5rem;
  border: solid 1px;
  box-shadow: none;
  font-size: 1rem;
}

form input:focus {
  outline: none;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
  width: 25px;
  margin: 20px;
  position: relative;
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}

.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  flex-basis: 80%;
  display: flex;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
  flex-direction: row;
}

.wrapFlex {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.wrapFlexJustify {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.column-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.wrapFlexCheck {
  flex-basis: 33%;
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.wrapLeft {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-start-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.recipeSquareDiv {
  flex-basis: 25%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

form > * {
  margin-bottom: .5rem
}

.display-ingredient {
  width: 90%;
  background-color: grey;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem ;
}
.hide-ingredient {
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem ;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 5px;
}

.tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: .5rem;
}

.tab button {
  background-color: inherit;
  border: 1px solid #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6x 12px;
  border: 1px solid #ccc;
  border-top: none;
}
