body {
  font-family: helvetica-light;
}

a {
  text-decoration: none;
  color: black;
}

a, button {
  background-color: #ccc;
  font-size: 1rem;
  padding: .5rem;
  margin-bottom: .7rem;
  margin-right: .5rem;
  font-family: helvetica-light;
}

a:hover, button:hover {
  background-color: #7b7b7b;
  color: white;
}

a:visited {
  color: black;
}

h1, h3 {
  text-align: center;
}

h3 {
  margin-bottom: 1rem;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}


form {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

legend {
  text-align: center;
  margin: 0 0 1rem 0;
}

form div {
  margin: 1em;
}

form input {
  border-radius: 3px;
  padding: .5rem;
  border: solid 1px;
  box-shadow: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

form input:focus {
  outline: none;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
  width: 25px;
  margin: 0 20px 20px 20px;
  position: relative;
}

.checkbox > p {
  margin-top: 0;
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}

.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}

.nav-title {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

#logo {
  font-size: 2rem;
  padding: 10px;
  border: solid 1px #7b7b7b;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
}

.nav-link-container button {
  margin: 0;
  margin-left: .5rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapFlex {
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.wrapFlexCarousel {
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.wrapFlexJustify {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.column-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column-flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapFlexCheck {
  flex-basis: 20%;
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.wrapLeft {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-start-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.recipeSquareDiv {
  font-color: white;
  padding-top: 1rem;
  flex-basis: 33%;
}

.recipeSquareDiv p {
  height: 35px;
  margin: .2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.display-ingredient {
  width: 90%;
  background-color: grey;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem ;
}
.hide-ingredient {
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem ;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 5px;
}

.tab {
  display: flex;
  overflow: scroll;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab-button {
  background-color: inherit;
  border: 1px solid #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
/*  transition: 0.3s;*/
}

.tab-button:hover {
  background-color: #ddd;
  margin: 0;
  padding: 14px 16px;
  border-top-left-radius:8px;
  border-top-right-radius: 8px;
}

.tab-button-active {
  background-color: #ccc;
  margin: 0;
  padding: 14px 16px;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab-content {
  display: none;
  padding: .5rem;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content-active {
  background-color: #ccc;
  padding: 6x 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 2rem;
}

button:focus{
  outline: none;
}


.recipeImgDiv, .recipeImgDiv-active {
  width: 33.333%;
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;
}

.recipeImg {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.recipeImgDiv h2 {
  position: absolute;
  top: 1%;
  color: white;
  background-color: #ccc;
  padding: 5px;
  margin: 5%;
}

.ingredients {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  color: white;
  background-color: #7b7b7b;
}


.ingredients p, .recipeImgDiv-active p {
  margin: .2rem;
  line-height: 1.3
}


.recipeImgDiv:hover img, .recipeImgDiv-active img {
  opacity: 0.2;
}

.recipeImgDiv:hover h2, .recipeImgDiv-active h2 {
  background-color: #7b7b7b;
  color: white;
  position: absolute;
  top: 1%;
  padding: 5px;
  margin: 5%;
}

.recipeImgDiv:hover .ingredients, .recipeImgDiv-active > div {
  opacity: 1;
}

.results {
  margin: 1rem 3rem;
}

.percentageCarousel {
  margin-right: 1.5rem;
  background-color: #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
}

.percentageCarousel h3 {
  margin: 0;
}

#safeButton {
  background-color: #4ace4a;
  color: white;
}

#safeButton:hover {
  background-color:#349034;
}

#riskyButton {
  background-color: #ff4c4c;
  color: white;
  margin-right: 0;
}

#riskyButton:hover {
  background-color: #d03c3c;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

@media(max-width: 1200px) {
  .recipeImgDiv, .recipeImgDiv-active {
    width: 50%;
  }
}

@media(max-width: 1100px) {
  .wrapFlexCoursel {
    justify-content: space-between;
  }
}

@media(max-width: 825px) {
  .recipeImgDiv, .recipeImgDiv-active {
    width: 100%;
  }
}

@media(max-width: 780px) {
  .percentageCarousel {
    flex-basis: 100%;
    margin-right: 0;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
  .buttonContainer * {
    margin-bottom: 1rem
  }

}

@media (max-width: 750px) {
  .wrapFlexCheck {
    flex-basis: 25%;
  }
  p {
    font-size: 14px;
  }
}


@media (max-width: 570px) {
  .wrapFlexCheck {
    flex-basis: 33%;
  }
  .nav-title {
    flex-basis: 30%;
  }
  p {
    font-size: 12px;
  }
  button {
    font-size: 14px;
  }
  .results {
  margin: 1rem;
  }
  .navbar {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  .wrapFlexCheck {
    flex-basis: 50%;
  }
}
